@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

li {
    list-style: none;
    color: rgb(55, 46, 38);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: rgb(35, 30, 26);
}

p {
    color: rgb(55, 46, 38);
    font-size: 16px;
}

.title  {
    margin-bottom: 12px;
    text-align: left;
}

body {
display: flex;
justify-content: center;
height: 100vh;
margin: 0 auto;
}

button {
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    margin-top: 15px;
    background-color: rgb(93, 77, 64);
    color: white;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
max-width: 1200px;
margin: 8px auto;
padding: 0 30px;
height: 100px;
}

/*

LANDING PAGE

*/

#landing-page {
     min-height: 100vh;
    }

.header {
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__container {
    display: flex;
    align-items: center;
    background-color: rgb(225, 218, 210);
    margin-top: 40px;
}

.header__text {
    width: 400px;
    margin: 0 30px;
}

.header__img{
    width: 500px;
    height: auto;
    flex: 1;
}

.header__para {
    font-size: 16px;
}


/*

NAVIGATION

*/

#nav__logo {
    width: 150px;
    height: 150px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

/*

ABOUT US

*/

.about__container {
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.about__text {
    text-align: center;
    margin: 50px;
}

.about__title {
    margin-bottom: 24px;
}

.about__para {
    margin-bottom: 24px;
}